.invisible {
  opacity: 30%;
}

::-moz-selection {
  background: #006cff;
  color: #ffffff;
}
::-webkit-selection {
  background: #006cff;
  color: #ffffff;
}
::selection {
  background: #006cff;
  color: #ffffff;
}

body {
  margin: 0;
}